include ../mixins/flash-messages

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

        title= title || 'The StreetLite Company'
      
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(href="css/bootstrap.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        
        block css
        
        block head
        
    body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
            
            block nav

            block intro

            +flash-messages(messages)

            block content

        #footer Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.

    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    


    block js
